<% drink_record_details.each.with_index(1) do |drink_record_detail, i| %>
  <div class="mx-8 border-b-2 font-semibold">詳細（その<%= i%>）</div>
  <div class="m-8">
    <div class="form-control mb-4 flex w-full flex-row items-center">
      <label class="label mr-8 w-44"><%= DrinkRecord.human_attribute_name(:drink_type) %></label>
      <div class="font-semibold"><%= drink_record_detail.drink_type %></div>
    </div>
    <div class="form-control mb-4 flex w-full flex-row items-center">
      <label class="label mr-8 w-44"><%= DrinkRecord.human_attribute_name(:drink_volume) %></label>
      <div class="flex flex-row items-center">
        <div class="font-semibold"><%= drink_record_detail.drink_volume %></div>
        <div class="ml-4 font-semibold">ml</div>
      </div>
    </div>
    <div class="form-control mb-4 flex w-full flex-row items-center">
      <label class="label mr-8 w-44"><%= DrinkRecord.human_attribute_name(:alcohol_percentage) %></label>
      <div class="flex flex-row items-center">
        <div class="font-semibold"><%= drink_record_detail.alcohol_percentage %></div>
        <div class="ml-4 font-semibold">%</div>
      </div>
    </div>
    <div class="form-control mb-4 flex w-full flex-row items-center">
      <label class="label mr-8 w-44 font-semibold"><%= t 'defaults.amount_of_alcohol' %></label>
      <div class="flex flex-row items-center">
        <div class="font-semibold"><%= alcohol_caluculate(drink_record_detail.drink_volume, drink_record_detail.alcohol_percentage) %></div>
        <div class="ml-4 font-semibold">g</div>
      </div>
    </div>
    <div class="form-control mb-4 flex w-full flex-row items-center">
      <label class="label mr-8 w-44"><%= DrinkRecord.human_attribute_name(:price) %></label>
      <div class="flex flex-row items-center">
        <div class="font-semibold"><%= drink_record_detail.price %></div>
        <div class="ml-4 font-semibold">円</div>
      </div>
    </div>
  </div>
  <% if drink_record_detail.user == current_user %>
    <div class="card-actions justify-end mx-8 mb-4">
      <%= link_to t('defaults.edit'), edit_drink_record_path(drink_record_detail), class: "btn btn-primary" %>
      <%= link_to t('defaults.delete'), drink_record_path(drink_record_detail), class: "btn btn-accent", data: { turbo_method: :delete, confirm: t("defaults.delete_confirm") } %>
    </div>
  <% end %>
<% end %>