<div class="mx-8">
  <%= render 'shared/error_messages', object: drink_record %>
</div>
<%= form_with model: drink_record, local: true do |f| %>
  <div class="flex flex-col items-center justify-evenly md:flex-row md:content-evenly">
    <%= f.radio_button :record_type, "no_drink", class: "btn btn-outline btn-primary join-item m-4 px-12 js-check", "aria-label": :"休肝日", id: "no-drink-radio" %>
    <%= f.radio_button :record_type, "drink", class: "btn btn-outline btn-secondary join-item m-4 px-12 js-check", "aria-label": :"飲酒日" , id: "drink-radio" %>
  </div>
  <div class="md:p-8 p-4">
    <div class="form-control mb-8 flex w-full flex-row items-center">
      <%= f.label :start_time, class: "label md:mr-8 md:w-44 mr-4 w-24" %>
      <% if params[:record_id].present? %>
        <%= f.date_field :start_time, class: "input input-bordered w-full max-w-xs", value: DrinkRecord.find(params[:record_id]).start_time.strftime("%Y-%m-%d") %>
      <% else %>
        <%= f.date_field :start_time, class: "input input-bordered w-full max-w-xs", value: drink_record.start_time.strftime("%Y-%m-%d") %>
      <% end %>
    </div>
    <div class="alert alert-warning">
      <p>厚生労働省が推進する国民健康づくり運動「健康日本21」によると、<span class="font-bold">生活習慣病のリスクを高める１日当たりの純アルコール摂取量は</span><span class="font-bold underline text-red-600 text-xl">男性40g以上、女性20g以上</span>であるとされています。(厚生労働省「健康に配慮した飲酒に関するガイドライン」
      <%= link_to "詳しくはこちら", "https://www.mhlw.go.jp/stf/newpage_37908.html", class: "font-semibold underline" %>)
      </p>
    </div>
  </div>
  <div id="drink-details">
    <div class="mx-8 border-b-2 font-semibold"><%= t 'defaults.detail' %></div>
    <div class="md:p-8 p-4">
      <div class="form-control mb-4 flex w-full flex-row items-center">
        <%= f.label :drink_type, class: "label md:mr-8 md:w-44 mr-4 w-24" %>
        <%= f.text_field :drink_type, class: "input input-bordered w-full max-w-xs", id: "drink_type", list: "drink-type-list" %>
        <datalist id="drink-type-list">
          <% DrinkRecord::DRINK_TYPES.each do |key, value| %>
            <option value="<%= value %>"><%= value %></option>
          <% end %>
        </datalist>
      </div>
      <div class="form-control mb-4 flex w-full flex-row items-center">
        <%= f.label :drink_volume, class: "label md:mr-8 md:w-44 mr-4 w-24" %>
        <div class="flex flex-row items-center w-full">
          <%= f.number_field :drink_volume, class: "input input-bordered w-full max-w-xs", id: "drink_volume", min: 0, list: "drink-volume-list" %>
          <datalist id="drink-volume-list">
            <% DrinkRecord::DRINK_VOLUME.each do |volume| %>
              <option value="<%= volume %>"><%= volume %></option>
            <% end %>
          </datalist>
          <div class="ml-4 font-semibold">ml</div>
        </div>
      </div>
      <div class="form-control mb-4 flex w-full flex-row items-center">
        <%= f.label :alcohol_percentage, class: "label md:mr-8 md:w-44 mr-4 w-24" %>
        <div class="flex flex-row items-center w-full">
          <%= f.number_field :alcohol_percentage, class: "input input-bordered w-full min-w-md", id: "alcohol_percentage", in: 0..100, list: "alcohol-percentage-list" %>
          <datalist id="alcohol-percentage-list">
            <% DrinkRecord::ALCOHOL_PERCENTAGE.each do |percentage| %>
              <option value="<%= percentage %>"><%= percentage %></option>
            <% end %>
          </datalist>
          <div class="ml-4 font-semibold">%</div>
        </div>
      </div>
      <div class="form-control mb-4 flex w-full flex-row items-center">
        <label class="label md:mr-8 md:w-44 mr-4 w-24 font-semibold"><%= t 'defaults.amount_of_alcohol' %></label>
        <div class="flex flex-row items-center">
          <div id="alcohol_intake", class="font-semibold">
            <%= alcohol_caluculate(drink_record.drink_volume, drink_record.alcohol_percentage) %>
          </div>
          <div class="ml-4 font-semibold">g</div>
        </div>
      </div>
      <div class="form-control mb-4 flex w-full flex-row items-center">
        <%= f.label :price, class: "label md:mr-8 md:w-44 mr-4 w-24" %>
        <div class="flex flex-row items-center w-full">
          <%= f.number_field :price, class: "input input-bordered w-full max-w-xs", id: "price", min: 0 %>
          <div class="ml-4 font-semibold">円</div>
        </div>
      </div>
      <div class="alert alert-info">
        <p>純アルコール量の計算については<span class="font-bold underline">摂取量(ml) × アルコール濃度（度数/100）× 0.8（アルコールの比重）</span>で算出しています。(厚生労働省「健康に配慮した飲酒に関するガイドライン」
        <%= link_to "詳しくはこちら", "https://www.mhlw.go.jp/stf/newpage_37908.html", class: "font-semibold underline" %>)
        </p>
      </div> 
    </div>
  </div>
  <div class="card-actions justify-end m-8">
    <%= f.submit (t 'defaults.register'), class: "btn btn-primary" %>
  </div>
<% end %>
