<% set_meta_tags title: @drink_record.start_time.strftime("%F") + t(".title") %>
<div class="mx-auto max-w-4xl overflow-hidden bg-base-100 py-4 sm:px-24 sm:py-24 flex-auto">
  <div class="card rounded-xl bg-white shadow-xl">
    <div class="card-body mx-auto items-center py-6 text-center">
      <h2 class="card-title text-4xl"><%= t '.title' %></h2>
    </div>
    <div class="flex flex-col items-center justify-evenly md:flex-row md:content-evenly">
      <% if @drink_record.no_drink? %>
        <div class="btn btn-primary btn-active btn-outline join-item m-4 px-12" type="radio" name="drink_record[:record_type]"><%= t 'defaults.no_alcohol_day' %></div>
        <div class="btn btn-secondary btn-outline join-item m-4 px-12" type="radio" name="drink_record[:record_type]"><%= t 'defaults.alcohol_day' %></div>
      <% else %>
        <div class="btn btn-primary btn-outline join-item m-4 px-12" type="radio" name="drink_record[:record_type]"><%= t 'defaults.no_alcohol_day' %></div>
        <div class="btn btn-secondary btn-active btn-outline join-item m-4 px-12" type="radio" name="drink_record[:record_type]"><%= t 'defaults.alcohol_day' %></div>
      <% end %>
    </div>
    <div class="md:p-8 p-4 mx-auto">
      <div class="form-control mb-4 flex w-full flex-row items-center">
        <label class="label md:mr-8 md:w-44 mr-4 w-24"><%= DrinkRecord.human_attribute_name(:start_time) %></label>
        <div class="font-semibold"><%= @drink_record.start_time.strftime("%Y年 %m月 %d日(%a)") %></div>
      </div>
    </div>
    <% if @drink_record.user == current_user %>
      <div class="card-actions justify-end mx-8 mb-4">
        <p class="block text-center my-auto">シェア</p>
        <%= link_to "https://twitter.com/intent/tweet?text=#{tweet_record(@drink_record_details)}%0a%0a&url=https://liverlog-bff5ca6e49ba.herokuapp.com%0a%0a&hashtags=肝ログ&hashtags=飲酒記録", class: "block text-center my-auto pr-2", target: "_blank", rel: "noopener noreferrer", title: "Xでシェア" do %> 
          <i class="fa-brands fa-x-twitter fa-2xl"></i>
        <% end %>
        <% if @drink_record.drink? %>
          <%= link_to t('defaults.add_record'), new_drink_record_path(record_id: @drink_record.id), class: "btn btn-outline btn-secondary" %>
        <% end %>
      </div>
    <% end %>
    <%= render 'detail', drink_record_details: @drink_record_details %>
  </div>
</div>

