<% content_for(:title, t(".title")) %>
<div class="hero bg-base-100 flex-auto" style="background-image: url(<%= asset_path "toppage_sample.jpg" %>);">
  <div class="hero-content max-w-full text-center py-12 bg-opacity-for-topimage">
    <div class="max-w-full">
      <h1 class="text-5xl font-bold">肝ログ</h1>
      <h2 class="text-2xl">LiverLog</h2>
      <p class="py-8">肝ログ（LiverLog）は、休肝日と飲酒日を記録することで、飲酒管理ができるサービスです。</p>
      <% if logged_in? %>
        <%= link_to t("defaults.my_page"), profile_path, class: "btn btn-primary" %>
      <% else %>
        <p class="font-semibold text-lg mb-4">LINEでログインしてさっそく始めよう！</p>
        <%= link_to auth_at_provider_path(provider: :line), class: "inline-block text-center", id: "line-login-btn" do %>
          <%= image_tag "btn_login_base.png" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="max-w-full overflow-hidden bg-base-100">
  <%= render "static_pages/explanation" %>
</div>