<% set_meta_tags title: @user.username + "の" + t(".title") %>
<div class="w-6xl flex-auto">
  <div class="flex flex-col p-4 md:flex-row md:p-8 max-w-6xl mx-auto">
    <div class="card rounded-box flex-grow place-items-center bg-white shadow-xl md:w-1/3">
      <div class="w-full p-4">
        <div class="h-full flex-row items-center justify-center text-left md:justify-start md:text-left">
          <div class="flex flex-row items-center pl-2 text-left md:text-left">
            <div class="avatar">
              <div class="h-24 w-24 rounded-full">
                <%= image_tag @user.image %>
              </div>
            </div>
            <div class="pl-6">
              <h2 class="title-font text-xl font-semibold text-neutral-900"><%= @user.username %></h2>
              <p><%= t '.no_alcohol_day' %></p>
              <% @user.non_drinking_days.each do |index| %>
                <div class="badge badge-primary"><%= I18n.t('date.day_names')[index] %></div>
              <% end %>
            </div>
          </div>
          <div class="flex-grow py-4 pl-4">
            <p><%= @user.comment %></p>
            <div class="text-right">
              <%= link_to (t 'profiles.edit.title'), edit_profile_path, class:"link text-xs", id:"edit-profile" %>
            </div>
          </div>
          <div class="w-full">
            <p class="title-font text-xl font-semibold text-neutral-900"><%= t 'defaults.group' %></p>
            <% if @user.groups.present? %>
              <%= render partial: 'profiles/groups', locals: { user: @user } %>
            <% else %>
              <div class="btn-neutral-100 btn btn-active w-full">
                <%= t '.no_group' %>
              </div>
            <% end %>
            <div class="text-right">
              <%= link_to t('.create_group'), new_group_path, class: "link text-xs", data: { turbo: false }, id: "new-group" %>
            </div>
          </div>
          <div class="title-font text-xl font-semibold text-neutral-900"><%= t 'defaults.record' %></div>
          <%= render 'shared/drink_record_summary', { user: @user } %>
        </div>
      </div>
    </div>
    <div class="divider md:divider-horizontal"></div>
    <div class="flex-grow md:w-2/3">
      <div role="tablist" class="tabs tabs-bordered">
        <input type="radio" name="my_tabs_1" role="tab" class="tab" aria-label="カレンダー" checked/>
        <div role="tabpanel" class="tab-content mt-4">
          <%= render partial: 'profiles/record_calendar', locals: { display_records: @display_records } %>
        </div>
        <input type="radio" name="my_tabs_1" role="tab" class="tab" aria-label="コミュニティポスト"/>
        <div role="tabpanel" class="tab-content mt-4">
          <%= render partial: 'community_posts/posts', locals: { posts: @community_posts } %>
        </div>
      </div>
    </div>
  </div>
</div>