<% content_for(:title, @group.name) %>
<div class="flex flex-col p-4 md:flex-row md:p-8 flex-auto max-w-6xl mx-auto">
  <div class="flex flex-col md:w-1/3">
    <h2 class="title-font text-lg font-semibold text-neutral-900"><%= t '.group_name' %></h2>
    <div class="card p-4 bg-primary bg-opacity-50">
      <h2 class="title-font text-2xl font-semibold text-neutral-900"><%= @group.name %></h2>
      <% if @group.group_admin?(current_user) %>
        <div class="text-right">
          <%= link_to (t '.edit'), edit_group_path(@group), class:"btn btn-info btn-sm" %>
          <%= link_to (t '.delete'), group_path(@group), class:"btn btn-error btn-sm", data: { turbo_method: :delete, confirm: t("defaults.delete_confirm") }  %>
        </div>
      <% end %>
    </div>
    <div class="card rounded-box flex-grow place-items-center bg-white shadow-xl mt-4">
      <div class="w-full p-4">
        <div class="h-full flex-row items-center justify-center text-left md:justify-start md:text-left">
          <div class="mb-4">
            <h2 class="title-font text-lg font-semibold text-neutral-900"><%= t '.admin' %></h2>
            <div class="flex flex-row items-center p-4 text-left md:text-left border border-primary rounded-lg">
              <div class="avatar">
                <div class="h-24 w-24 rounded-full">
                  <%= image_tag @group.group_admin.image %>
                </div>
              </div>
              <div class="pl-6">
                <div>
                  <h2 class="title-font text-xl font-semibold text-neutral-900"><%= @group.group_admin.username %></h2>
                  <p><%= t '.no_alcohol_day' %></p>
                  <% @group.group_admin.non_drinking_days.each do |index| %>
                    <div class="badge badge-primary"><%= I18n.t('date.day_names')[index] %></div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
  
          <div class="w-full">
            <h2 class="title-font text-lg font-semibold text-neutral-900"><%= t '.member' %></h2>
            <% if @group.users.present? %>
              <% @group.users.each do |user| %>
                <div class="flex flex-row items-center p-4 text-left md:text-left border border-primary rounded-lg mb-2">
                  <div class="avatar">
                    <div class="h-12 w-12 rounded-full">
                      <%= image_tag user.image %>
                    </div>
                  </div>
                  <div class="pl-6">
                    <h2 class="title-font text-xl font-semibold text-neutral-900"><%= user.username %></h2>
                  </div> 
                </div>
              <% end %>
            <% else %>
              <div class="btn-neutral-100 btn btn-active w-full">
                <%= t '.no_group' %>
              </div>
            <% end %>
            <% if @group.group_admin?(current_user) %>
              <div class="text-left py-4">
                <p class="font-semibold"><%= t '.invite' %></p>
                <div class="line-it-button" data-lang="ja" data-type="share-a" data-env="REAL" data-url="https://0da4-2400-4052-6960-9b00-a4b4-fc11-952a-f241.ngrok-free.app/invitees/invitation/new/<%= @group.invite_token %>" data-color="default" data-size="large" data-count="false" data-ver="3" style="display: none;"></div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="divider md:divider-horizontal"></div>
  <div class="flex flex-col md:w-2/3">
    <div class="card rounded-box flex-col bg-white shadow-xl max-w-full">
      <div class="flex w-full flex-col p-4">
        <div class="card rounded-box grid">
          <h2 class="text-xl font-semibold text-center"><%= t 'defaults.record' %></h2>
          <%= week_calendar(number_of_weeks: 2, events: @drink_record) do |date, drink_record| %>
            <div><%= date.day %></div>
            <% drink_record.each do |record| %>
              <% if record.no_drink? %>
                <%= link_to record.record_type_i18n, drink_record_path(record), class:"btn btn-xs btn-primary md:btn-sm lg:btn-md", data: { turbo: false } %>
              <% elsif record.drink? %>
                <%= link_to record.record_type_i18n, drink_record_path(record), class:"btn btn-xs btn-secondary md:btn-sm lg:btn-md", data: { turbo: false } %>
              <% end %>
            <% end %>
          <% end %>
          <p class="text-xl font-semibold"><%= t 'defaults.record' %></p>
          <div class="stats stats-vertical my-2 w-full bg-accent-content shadow md:stats-horizontal md:grid-cols-2">
            <div class="stat">
              <div class="stat-title"><%= t '.no_alcohol_day_achievement' %></div>
              <div class="stat-value"><%= @group.group_admin.monthly_no_drink_achievement %>%</div>
              <div class="stat-desc"><%= Date.today.beginning_of_month %> - <%= Date.today%></div>
            </div>
            <div class="stat">
              <div class="stat-title"><%= t '.alcohol_intake' %></div>
              <div class="stat-value"><%= @group.group_admin.monthly_total_amount_alcohol %>ml</div>
              <% if @group.group_admin.compare_amount_last_manth_total_amount_alcohol > 0 %>
                <div class="stat-desc">↗︎ <%= @group.group_admin.compare_amount_last_manth_total_amount_alcohol %>ml (<%= @group.group_admin.compare_rate_last_manth_total_amount_alcohol %>%)</div>
              <% elsif @group.group_admin.compare_amount_last_manth_total_amount_alcohol < 0 %>
                <div class="stat-desc">↘︎ <%= @group.group_admin.compare_amount_last_manth_total_amount_alcohol %>ml (<%= @group.group_admin.compare_rate_last_manth_total_amount_alcohol %>%)</div>
              <% else %>
                <div class="stat-desc">- <%= @group.group_admin.compare_amount_last_manth_total_amount_alcohol %>ml (<%= @group.group_admin.compare_rate_last_manth_total_amount_alcohol %>%)</div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= render partial: 'groups/posts', locals: { group: @group } %>
  </div>
</div>
