<div class="navbar from-primary to-secondary bg-gradient-to-r">
  <div class="flex-1">
    <div class="mx-4 text-xl font-bold">肝ログ</div>
  </div>
  <div class="navbar-end">
    <ul class="menu menu-horizontal invisible px-1 md:visible">
      <li><a><%= t 'defaults.top_page' %></a></li>
      <li><a><%= t 'defaults.community' %></a></li>
    </ul>
    <%= link_to t('defaults.login_with_line'), auth_at_provider_path(provider: :line), class: "btn btn-primary" %>
  </div>
  <div class="dropdown dropdown-end md:hidden">
    <div class="flex-none md:hidden">
      <button class="btn btn-square btn-ghost">
       ･･･ 
      </button>
      <ul tabindex="0" class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-32">
        <li><a><%= t 'defaults.top_page' %></a></li>
        <li><a><%= t 'defaults.community' %></a></li>
      </ul>
    </div>
  </div>
</div>
