<% set_meta_tags title: t(".title") %>
<div class="mx-auto max-w-4xl overflow-hidden bg-base-100 py-4 sm:px-24 sm:py-24 flex-auto">
  <div class="card mx-8 max-w-full rounded-xl bg-white shadow-xl">
    <div class="card-body mx-auto items-center text-center">
      <h2 class="card-title"><%= t '.title' %></h2>
      <p><%= t '.form_description' %></p>
      <%= render partial: 'shared/error_messages', locals: { object: @user } %>
      <%= form_with(model: @user, url: invitees_invitation_first_login_path, local: true) do |f| %>
        <div class="form-control w-full max-w-full py-2">
          <%= f.label :username, class: "label" %>
          <%= f.text_field :username, class: "input input-bordered w-full max-w-xs" %>
        </div>
        <%= f.hidden_field :first_login, value: false %>
        <div class="card-actions justify-end">
          <%= f.submit (t 'defaults.register'), class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>